@import "tailwindcss";

* {
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "montserratSemiBold";
  src: url("./assets/Font/Montserrat-SemiBold.ttf") format("woff2");
}

@font-face {
  font-family: "montserratRegular";
  src: url("./assets/Font/Montserrat-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "montserratMedium";
  src: url("./assets/Font/Montserrat-Medium.ttf") format("woff2");
}

@font-face {
  font-family: "montserratLight";
  src: url("./assets/Font/Montserrat-Light.ttf") format("woff2");
}

@font-face {
  font-family: "montserratBold";
  src: url("./assets/Font/Montserrat-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "montserratExtraBold";
  src: url("./assets/Font/Montserrat-ExtraBold.ttf") format("woff2");
}

@font-face {
  font-family: "montserratExtraLight";
  src: url("./assets/Font/Montserrat-ExtraLight.ttf") format("woff2");
}
@keyframes wiggle {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(5px);
  }
}
.bg {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    #000000 25%,
    #000000 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

@theme {
  --font-montserratSemiBold: "montserratSemiBold", sans-serif;
  --font-montserratRegular: "montserratRegular", sans-serif;
  --font-montserratMedium: "montserratMedium", sans-serif;
  --font-montserratLight: "montserratLight", sans-serif;
  --font-montserratBold: "montserratBold", sans-serif;
  --font-montserratExtraBold: "montserratExtraBold", sans-serif;
  --font-montserratExtraLight: "montserratExtraLight", sans-serif;
  --animate-wiggle: wiggle 1s linear reverse infinite;
  --animate-vertical-loop: verticalLoop 40s linear infinite;
  --animate-vertical-loop-reverse: verticalLoop 50s linear infinite reverse;
  --animate-vertical-loop-reverses: verticalLoop 60s linear infinite;
  --animate-horizontal-loop-reverse: horizontalLoop 40s linear infinite reverse;
  --animate-horizontal-loop: horizontalLoop 50s linear infinite;

  @keyframes verticalLoop {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes horizontalLoop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
